<%- include('../partials/header') %>

<form action="/members/<%= member.id %>?_method=PUT" method="POST">
    Favourite Team: <input type="text" name="favTeam">
    Favourite Position: <input type="text" name="favPosition">
    <button type="submit">Save</button>
</form>

<hr>


<button>
    <a href="/members">Back</a>
</button>

<%- include('../partials/footer') %>
