<%- include('../partials/header') %>

<ul>
    <% teams.forEach((team)=>{ %>
        <li><a href="/teams/<%= team.id %>"><%= team.name %></a></li>
    <% }) %>
</ul>
<hr>

<button><a href="/teams/new">Create Team</a></button>




<%- include('../partials/footer') %>
