<%- include('../partials/header') %>

<ul>
    <% joinTeam.forEach((join)=>{ %>
        <li><a href="/teams/<%= join.id %>"><%= join.name %></a></li>
    <% }) %>
</ul>
<hr>

<button><a href="">Join Team</a></button>




<%- include('../partials/footer') %>
