<div class="sub-nav">
    <img src="/images/description.jpg" alt="team description">
    <h4><a href="/teams/<%= team.id %>">description</a></h4>
    <img src="/images/players.jpg" alt="team players">
    <h4><a href="/teams/<%= team.id %>/players">players</a></h4>
    <img src="/images/schedule.jpg" alt="team schedule">
    <h4><a href="/teams/<%= team.id %>/schedule">Schedule</a></h4>
</div>
