<br>
<ul>
    <li><a href="/teams/<%= team.id %>">description</a></li>
    <li><a href="/teams/<%= team.id %>/players">players</a></li>
    <li><a href="/teams/<%= team.id %>/schedule">Schedule</a></li>
    <li><a href="/teams/<%= team.id %>/announcements">Announcements</a></li>
</ul>