<%- include('../partials/header') %>

<h1>edit team page</h1>
<form action="/teams/<%= team.id %>?_method=PUT" method="POST">
    Description:
    <input type="text" name="description">
    <input type="submit" value="Save">
</form>

<%- include('../partials/footer') %>
