<%- include('../partials/header') %>

<h1>team main page</h1>

<% if(player.team) { %>
    <%= playerTeam %>
<% }else{ %>
    <a href="/teams/new">Create</a>
    <a href="/teams/join">Join</a>
<% } %>


<%- include('../partials/footer') %>