<%- include('../partials/header') %>

<h1>new team page</h1>

<form action="/teams" method="POST">
    created by: <input type="text" name="leader" value="<%= player.id %>">
    name: <input type="text" name="name">
    <input type="submit">
</form>

<%- include('../partials/footer') %>