<%- include('./partials/header') %>


<main class="home-main">
    <div class="rows1">
        <!-- <div class="column">
                <video controls class="video-home">
                    <source src="mov_bbb.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
        </div>
        <section class="column">
            <h3>The Best Soccer Team Experience</h3>
            <p>Organise your team in a heartbeat with <br>
                powerful and easy tools to manage your <br>
                schedule, people and more.</p>
        </section> -->
        <img src="/images/home-pic.jpg" alt="" width="1110px">
    </div>
    <div class="rows2">
        <h3>Who are you?</h3>
        <section>
            <div class="column">
                <div class="home-manager">
                    <a href="/members/manager"><img class="home-img" src="/images/decision-making.png" alt="I want to be a manager to create a team."></a>
                    <h3>Manager</h3>
                    <h3 class="home-btn"><a href="/teams/new">Create Team</a></h3>
                </div>
            </div>
            <div class="column">
                <div class="home-player">
                    <a href="/members/player"><img class="home-img" src="/images/player-logo.png" alt="i want to be a player to join a team."></a>
                    <h3>Player</h3>
                    <h3 class="home-btn"><a href="/teams/list">Find Team</a></h3>
                </div>
            </div>
        </section>
    </div>
</main>

<%- include('./partials/footer') %>