<%- include('./partials/header') %>

<h1>Home Page</h1>

<main class="container">
    <div class="row">
        <div class="col">video</div>
        <div class="col">description</div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    

</main>

<%- include('./partials/footer') %>