/* *, *::before, *::after {
    box-sizing: border-box;
}*/

body {
    /* height: 100vh; */
    /* width: 800px; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* width: 1000px; */
} 

/* #logo-pic {
    width: 1000px;
} */

button {
    outline: none;
}