/* *, *::before, *::after {
    box-sizing: border-box;
}*/

body {
    /* height: 100vh; */
    /* width: 800px; */
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    /* width: 1000px; */
} 

/* #logo-pic {
    width: 1000px;
} */

button {
    outline: none;
}

.self-avatar {
    max-width: 100px;
}
.team-avatar {
    max-width: 200px;
}
.p-avatar{
    max-width: 20px;
}
.no-pad {
    padding: 0px;
}
.no-style {
    list-style: none;
}
.news {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: start;
    align-items: center;
  }
  .news-img {
    max-width: 300px;
    border-radius: 20px;
  }
  a {
    text-decoration: none;
  }
  

  /* home */
  .header {
      margin-top: 30px;
  }
  .header-img {
      border-radius: 20px 20px 0px 0px
  }